<%= render 'common_templates/company_name' %>

<h1>List Users</h1>

<table border="1">
	<th>First name</th>
	<th>Last name</th>
	<th>Age</th>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.age %></td>
		</tr>
	<% end %>
</table>
